.source.js {

  .variable.language.js,
  .keyword.operator.typeof.js,
  .keyword.operator.new.js {
    color: @blue;
    font-weight: bold;
  }
  .support.function.js,
  .support.constant.js {
    color: black;
    font-weight: normal;
  }

  .support.class.js {
    color:rgb(157, 87, 17);
    font-weight: bold;
  }

  .entity.name.function.constructor {
    color:rgb(157, 87, 17);
    font-weight: bold;
  }


}
