@import "colors";

.php {

  .keyword.operator.php {
      color: @purple;

      &.type{
        color:@blue;
        font-weight: bold;
      }
  }
  .variable.php {
    color: @navy;
  }

  .support.function.network.php,
  .support.function.var.php,
  .support.function.array.php {
    color: black;
    font-weight: normal;
  }

  // Change punctuation color ([; etc
  .source.php{
    // color: @purple;

    .function-call{
      color: black;
    }
  }

  .string.quoted.double {

    .punctuation.definition.string.php {
      &.begin, &.end {
        color: @grey;
      }
    }
  }

  .sql.php .keyword{
    color: @grey;
    font-weight: normal;
  }

}

.source .string {

  .punctuation.section.embedded.php {
    color: @red;
    font-weight: normal;
  }
}

.punctuation.php{
  color:@purple;
}

// Php code in src attribute of html "script" tag
.source.embedded.js{

  .string.quoted.double.html{
    color: @purple;

    .source.php{
      color: black;
      font-weight: normal;

      .string .source,
      .string .meta.embedded.line {
          color: @grey;
      }
    }
    .embedded.end .source.php{
      color: @red;
    }
  }
}

.namespace.php .punctuation.php,
.meta.namespace.php + .punctuation.php,
.meta.use.php + .punctuation.php{
  color:black;
}
